body{
  /*background-color: #2d3436;*/
  background-color: #2f3e4b;
  color: #eee;
}

.App {
  text-align: center;
}

.App-link {
  color: #89d8ee;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin-bottom: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  
}

.tabs {
  background-color:#4b6174;
  height: auto;
}

.tab-list-active {
  background-color: #4b6174;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.tab-list {
  background-color: #2f3e4b;
}
.tableDashboard{
  /*display: block;*/
  border-collapse: collapse;
  background-color: #4d5c60;
  width: 90%;
  /*border: 1.5px solid white;*/
  border: none;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tableDashboard a:link {
  color:#89d8ee;
  text-decoration: none;
}

.tableDashboard > thead{
  border-bottom: 1.5px solid white;
  background-color: #445154;
}
.tableDashboard > thead > tr > th{
  padding: 1%;
}
.tableDashboard > tbody > tr{
  border-bottom: 0.25px solid white;
}

.tdbrow{  
  text-align: left;
  padding: 0.75%;
  padding-left: 2%;
}

.footer{
  color: white;
  border-top: 2px solid white;
  
  padding: 2%;
  margin: 2%;
}

#add-btn{
  background-color: #59a270;
  color:white;
  font-size: 20px;
  padding: 0.7% 0.7%;
  margin: 1%;
  border: 2.5px solid #8bd9a4;
}

#rm-btn{
  background-color: #b75050;
  color:white;
  font-size: 20px;
  padding: 0.7% 0.7%;
  margin: 1%;
  border: 2.5px solid #d98b8b;
}